language: csharp
mono: none
sudo: required
dist: xenial
dotnet: 2.2
script:
    - dotnet restore
    - dotnet build
    #- dotnet test Test/Tests.csproj
addons:
  ssh_known_hosts:
  - wit-style.ru
  - 92.53.114.27
before_script:
- export DISPLAY=:99.0
- sh -e /etc/init.d/xvfb start
- sleep 3
#before_install:
#- openssl aes-256-cbc -K $encrypted_d76fa800597d_key -iv $encrypted_d76fa800597d_iv
#  -in deploy-key.enc -out /tmp/deploy-key -d
#- eval "$(ssh-agent -s)"
#- chmod 600 /tmp/deploy-key
#- ssh-add /tmp/deploy-key
#deploy:
#  provider: script
#  skip_cleanup: true
#  script: rsync -r --delete-after --quiet $TRAVIS_BUILD_DIR/dist/ weeman@92.53.114.27:/home/w/weeman/wit-style.ru/public_html
#  on:
#    branch: master
global:
    - DOTNET_SKIP_FIRST_TIME_EXPERIENCE=true
    - DOTNET_CLI_TELEMETRY_OPTOUT=1