p email 
    a(href='mailTo:anton.ternovykh@wit-style.ru') anton.ternovykh@wit-style.ru
p 
    a(href='https://twitter.com/ternoant')
        i(class='icon-twitter') twitter
p
    a(href='https://www.facebook.com/anton.ternovykh')
        i(class='icon-facebook') facebook
p
    a(href='https://www.linkedin.com/in/anton-ternovykh-48a63540')
        i(class='icon-linkeid') linkeid
p
    a(href='https://github.com/WeeManMSK')
        i(class='icon-github') github