a:visited {
  color: black;
}
.sidebar-menu-item {
  border-top: 1px solid #c8c8c8;
  list-style: none;
  text-align: right;
  padding: 10px;
  text-transform: uppercase;
}
.sidebar-menu-item:hover {
  background: #c8c8c8;
}
.sidebar-menu-item:hover a {
  text-decoration: none;
}