:host {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    .app-body {
        display: flex;
        flex: 1 0 auto;
        flex-direction: row;
        padding: var(--space);
    }
    .app-content {
        flex: 1;
        margin-top: var(--space);
        background-color: #AAAAAA;
    }
    .app-ads {
        flex: 0 0 10%;
        padding: 1em;
        background: rgba(147, 128, 108, 0.1);
    }
    .app-content-wrapper {
        flex: 1;
        display: flex;
        flex-flow: column;
    }
}