@model MenuItemDto[]

<aside>
    @await Component.InvokeAsync(nameof(Logo))
    <ul class="sidebar-menu">
        @foreach (var item in Model)
        {
            <li class="sidebar-menu-item">
                <a asp-area="" asp-controller="@item.ControllerName" asp-action="@item.ActionName">@item.DisplayName</a>
            </li>
        }
    </ul>
</aside>